@import '../../assets/style.variable.scss';

.CreateArticle {
  margin-top: 26px;
  width: 938px;
  height: 700px;
  background-color: $background_white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-shadow: $shadow;
  justify-content: space-between;
  font-family: $font-family;
  margin-bottom: 20px;
  &__wrapper {
    margin: 48px 32px;
    margin-left: auto;
    margin-right: auto;
  }
  &__caption {
    font-family: $font-family-bold;
    font-size: 20px;
    display: block;
    text-align: center;
  }
  &__form {
    padding-top: 20px;
  }
  &__container {
    padding-bottom: 12px;
  }
  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: $font-family-bold;
  }
  &__input {
    width: 875px;
    height: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 15px;
    padding: 12px;
    &_mainContent {
      width: 875px;
      height: 170px;
      border: 1px solid #bfbfbf;
      border-radius: 5px;
      font-family: $font-family;
      font-size: 15px;
      padding: 12px;
    }
  }
  &__input::placeholder {
    color: #bfbfbf;
  }
  &__input_mainContent::placeholder {
    color: #bfbfbf;
  }
  &__button {
    height: 40px;
    width: 320px;
    background-color: $blue;
    border-radius: 5px;
  }
  &__buttonText {
    color: white;
    font-size: 16px;
  }
  &__createTag_input {
    height: 40px;
    width: 300px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
  }
  &__createTag_input::placeholder {
    color: #bfbfbf;
  }
  &__createTag_deleteButton {
    margin-left: 17px;
    border: 1px solid #f5222d;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    color: #f5222d;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  &__createTag_deleteButton:hover {
    color: white;
    background-color: #f5222d;
  }
  &__createTag_createButton {
    margin-left: 17px;
    border: 1px solid $blue;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    color: $blue;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  &__createTag_createButton:hover {
    color: white;
    background-color: $blue;
  }
}
