@import '../../assets/style.variable.scss';

.Header {
  min-width: 100%;
  height: 80px;
  background-color: $background_white;
  display: flex;
  justify-content: space-between;
  &__name {
    font-family: $font-family-bold;
    margin: 30px 0 35px 22px;
    font-size: large;
  }
  &__signButtons {
    font-family: $font-family;
    margin: 20px 22px 20px 0;
    display: flex;
    justify-content: space-between;
  }
  &__signInButton {
    font-family: $font-family;
    font-size: medium;
    padding: 8px 18px 8px 18px;
  }

  &__signUpButton {
    font-family: $font-family;
    font-size: medium;
    padding: 8px 18px 8px 18px;
    border: 1px solid $green;
    color: $green;
    border-radius: 5px;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  &__signUpButton:hover {
    color: white;
    background-color: $green;
  }
}
