@import '../../../assets/style.variable.scss';

.SignIn {
  margin-top: 60px;
  max-width: 938px;
  background-color: $background_white;
  margin-left: auto;
  margin-right: auto;
  width: 385px;
  display: flex;
  box-shadow: $shadow;
  justify-content: space-between;
  font-family: $font-family;
  &__wrapper {
    margin: 48px 32px;
  }
  &__caption {
    font-family: $font-family-bold;
    font-size: 20px;
    display: block;
    text-align: center;
  }
  &__form {
    padding-top: 20px;
  }
  &__container {
    padding-bottom: 12px;
  }
  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: $font-family-bold;
  }
  &__input {
    width: 320px;
    height: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 15px;
    padding: 12px;
  }
  &__button {
    height: 40px;
    width: 320px;
    background-color: $blue;
    border-radius: 5px;
    margin-top: 20px;
  }
  &__buttonText {
    color: white;
    font-size: 16px;
  }
}
